.navbar-nav li{
    margin-right: 50px; 
}
.nav-bg{
    background-color: #ffc107;
}

/* .imagePath {
    width: 100px;
    height: auto;
} */

.nav-item{
    font-weight: bold; /* Appliquer le style en gras */
    display: inline-block; /* Pour aligner les éléments horizontalement */
    margin-right: 10px; /* Espacement entre les éléments */
}


  