{% extends 'base.html.twig' %}

{% block title %}Edit AdresseLivraison{% endblock %}

{% block body %}
    <h1>Modifier Adresse de Livraison</h1>

    {{ include('adresse_livraison/_form.html.twig', {'button_label': 'Enregistrer'}) }}
   

    <a href="{{ path('app_adresse_livraison_index') }}">Retour</a>

    {{ include('adresse_livraison/_delete_form.html.twig') }}
{% endblock %}
