{% extends 'base.html.twig' %}

{% block title %}Edit Transporteurs{% endblock %}

{% block body %}
    <h1>Edit Transporteurs</h1>

    {{ include('transporteurs/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('app_transporteurs_index') }}">retour à la liste</a>

    {{ include('transporteurs/_delete_form.html.twig') }}
{% endblock %}
